#link, #helplink {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#new-website-link {
    position: fixed;
    bottom: 70px;
    left: 50%;
    margin-left: -0.8px;
    transform: translateX(-50%);
}

#link {
    margin-bottom: 25px;
    margin-left: -0.3px;
}

#helplink {
    margin-left: -7.1px;
}

.yt-channel-link {
    all: unset;
}

.yt-channel-link:hover {
    color: #e6e5e5;
    cursor: pointer;
}