html {background-color: black; display: inline;}

#pic1 {
    border: 2px solid rgb(89, 89, 89);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
} */

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: var(--bs-body-font-family)
  }

#Title {
    color: lightBlue;  
    position: relative;
    left: 440px;
}

#result-title {
    color: lightBlue;
    text-decoration:none;
    display:inline-block;
}

#Artist {
    color: lightBlue;  
    position: relative;
    left: 440px;
}

#result-artist {
    color: lightBlue;  
    display:inline-block;
}

#OtherArtist {
    color: lightBlue;  
    position: relative;
    left: 440px;
}

#result-otherart {
    color: lightBlue;  
    display:inline-block;
}

#TheInstruments {
    color: lightBlue;  
    position: relative;
    left: 440px;
}

#result-instrument {
    color: lightBlue;  
    text-decoration:none;
    display:inline-block;
}

#result-instruments {
    color: lightBlue;  
    text-decoration:none;
    display:inline-block;
}

#Links {
    color: lightBlue;  
    text-decoration: underline;
    position: relative;
    left: 440px;
}

#result-links {
    color: lightBlue;  
    position: relative;
    top: -10px;
    left: 455px;
}

#InstrumentsTitle {
    position: absolute;
    left: 46%; 
    color: #C6C6C6; 
    text-decoration: 
    underline;
}

#Instruments {
    position: absolute;
    left: 43%; 
    top:150px; 
    color: #C6C6C6; 
    font-size: 20px; 
    line-height: 26px;
}

#Replink {
    bottom: 80px; 
    position: absolute;
    left:46.2%;
}

#thelink {
    bottom: 50px; 
    position: absolute;
    left:45.5%;
}

.underline {
    text-decoration: underline;
}

#box {
    top:2px;
    width: 400px;
    height: 300px;
    resize: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

#button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 450px;
    width: 45;
    height: 45;
}

#sent {
    color: #019801;
    position:absolute; 
    left:623.5px; 
    top:465px;
    font-size: 18px;
}

#err {
    color: red;
    position:absolute; 
    left:623.5px;
    top:465px;
    font-size: 18px;
}

#songelements {
    color: #C6C6C6; 
    position: relative;
    left: 470px;
    font-size: 19px;


}

#songelements:empty {
    color: black;
}

@media (min-device-width: 375px) and (max-device-width: 812px) {
    
    html, body {margin: 0; height: 100%; overflow-x: hidden}

    #Title {
        left: 18px;
    }

    #result-title{
        display: inline;
    }
    
    #Artist {
        left: 18px;
    }
    
    #result-artist {
        display: inline;
    }

    #OtherArtist {
        left: 18px;
    }
    
    #result-otherart {
        display: inline;
    }
    
    .underline {
        text-decoration: underline;
    }

    #TheInstruments {
        left: 18px;
    }

    #result-instrument {
        color: lightBlue;  
        text-decoration:none;
        word-wrap: break-word;
        display: inline-block;
        max-width: 70%;
        word-break: break-word;
    }


    #Links {
        left: 18px;
    }

    #InstrumentsTitle {
        position: absolute;
        left: 34%; 
        color: #C6C6C6; 
        text-decoration: underline;
    }
    
    #Instruments {
        position: absolute;
        left: 24%; 
        top:150px; 
        color: #C6C6C6; 
        font-size: 20px; 
        line-height: 26px;
    }

    #Replink {
        bottom: 70px; 
        position: absolute;
        font-size: 20px; 
        left:31.3%;
    }

    #thelink {
        bottom: 41px; 
        position: absolute;
        font-size: 20px; 
        left:28%;
    }

    #result-links {
        top: -10px; 
        left: 25px;
    }
    
    body {
        overflow-x: hidden;
    }

    #box {
        top:2px;
        width: 330px;
        height: 260px;
        resize: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #button {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 410px;
        width: 45;
        height: 45;
    }

    #sent {
        color: #019801;
        position:absolute; 
        left:116px; 
        top:425px;
        font-size: 18px;
    }
    
    #err {
        color: red;
        position:absolute; 
        left:116.5px;
        top:425px;
        font-size: 18px;
    }

    #songelements {
        color: #C6C6C6; 
        position: relative;
        left: -3px; 
    }
    
    #songelements:empty {
        color: black;
    }
    
}

a {
    color: #2a9fd6;
 
  }

a:hover {
    color: #0000FF;
}

